<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head'); %>
        <script> 
        </script>
    </head>
<body>
    <%- include('../components/header'); %>
<main>
<div class="dashboard-container">

    <!-- <% fieldlab.foreach((assignments))=> { %> -->

    <div class="dashboard-listing">
        <div class="dashboard-listing-left">
            <span class="dashboard-listing-title"> Opdracht Aanmaken</span>
        </div>
        <div class="dashboard-listing-right">
            <button class="dashboard-button"> <embed src="icons/edit.svg"> </button>
            <button class="dashboard-button"> <embed src="icons/trash.svg"> </button>
            <input type="checkbox" class="dashboard-button dashboard-checkbox"></input>
        </div>
    </div>

    <!-- <% }) %> -->

    <div class="dashboard-listing">
        <div class="dashboard-listing-left">
            <span class="dashboard-listing-title"> Opdracht Vrijgeven</span>
        </div>
        <div class="dashboard-listing-right">
            <button class="dashboard-button"> <embed src="icons/edit.svg"> </button>
            <button class="dashboard-button"> <embed src="icons/trash.svg"> </button>
            <input type="checkbox" class="dashboard-button dashboard-checkbox"></input>
        </div>
    </div>
    
</div> 
</main>
<%- include('../components/footer'); %>
</body>
</html>