<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head'); %>
    </head>
<body>

    <%- include('../components/header'); %>
<main>

<div class="dashboard-container">

    <button> Opdracht Aanmaken</button>
    <button> Opdracht Vrijgeven</button>
    
</div> 

</main>

<%- include('../components/footer'); %>
</body>
</html>