<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head'); %>
        <link rel="stylesheet" href="css/dashboard.css"/>
        <link rel="stylesheet" href="css/header-style.css">
        <script> 
        </script>
    </head>
<body>

    <% %>

    <header>
        <!-- oude button voor nu -->
        <nav class="navbar">
            <h1 style="margin: 0;">Room: <%= roomcode %></h1>
            <button class="start-btn" onclick="openForm()">Start</button>
        </nav>
    </header>
<main>

</main>
<%- include('../components/footer'); %>
</body>
</html>