<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head'); %>
    </head>
<body>

    <%- include('../components/header'); %>

    <main>
        <div class="container-login">
            <div class="wrap-login">
                <form class="login-form">
                    <span> <h3>Vul een roomcode in</h3> </span>
                    <div class="wrap-input">
                        <input class="roomcode-input" type="text" name="roomcode" placeholder="Roomcode">
                    </div>
                    <div class="container-roomcode-form-btn">
                        <button class="roomcode-form-btn">
                            Ga naar de opdracht
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('../components/footer'); %>
</body>
</html>