<footer>
    <section class="copyright">
        <div class="footer-container">
            <span class="copyright-text"> © 2022 Rights Reserved, Samenspraak</span>
        </div>
    </section>
</footer>