    <title>Project NL - Communicatievideo</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Beau de Wit, Lucas Loontjens, Justin Alink, Bowie Jorissen, Wim de bult & Stef van diepen"/>
    <meta name="description" content="Project NL - Communicatievideo || Op deze website kan je video's achter elkaar plaatsen om een kloppend filmpje te maken."/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/header-style.css"/>
    <link rel="stylesheet" href="css/footer-style.css"/>
    <link rel="stylesheet" href="css/login-style.css"/>
    <script src="js/script.js"></script>
    <script src="js/DragDrop.js"></script>
    <script src="js/button.js"></script>
    <script src="js/getVideos.js"></script>