footer{
    width: 100%;
    background-color: #00396e;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: auto;
    height: 100px;
    bottom: 0;
    align-items: center;
    position:fixed;
}

.footer-container{
    padding: 20px 0;
}