.container-login {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.container-login *{
text-align: center;
}

.wrap-login{
    width: 500px;
    background: 0 0;
    border-radius: 20px;
    overflow: hidden;  
    background-color: white;  
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
}

.login-form{
    width: 100%;
    position: relative;
    padding-top: 150px;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
}

.login-form-title{
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0055A3;
    padding-top: 50px;
    padding-bottom: 39px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.wrap-input{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.roomcode-input{
    font-size: 16px;
    color: #43383e;
    border: solid 2px;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 62px;
    background: #fff;
    border-radius: 31px;
    padding: 0 35px 0 35px;
}

.roomcode-form-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 15.5rem;
    min-width: 10rem;
    height: 3.125rem;
    background-color: #F6D11C;
    border-radius: 31px;
    font-size: 18px;
    color: white;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.roomcode-form-btn:hover{
    background-color: #4ad42c;
    width: 17.5rem;
}

.container-roomcode-form-btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

button{
    outline: none !important;
    border: none;
}

.btn-arrow{
    width: 0;
    transition: 0.45s ease;
}

#logo{
    height: 6.25rem;
    width: 6.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5.25rem;
}
