@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-color: #D9E8FF;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.container {
    background-color: #0055A3;
    margin: auto;
    height: 240px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.title {
    width: 100vw;
}

h1 {
    color: whitesmoke;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 24px;
}

#textContainer {
    position: absolute;
}

#textVideo {
    position: relative;
    margin-bottom: 60px;
    top: 70px;
}

h2 {
    color: whitesmoke;
    font-size: 14px;
    position: relative;
    text-align: center;
}

.col-videos {
    display: flex;
    flex-direction: column;
}

#videoBox {
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100px;
}

#keuzeBox {
    background-color: lightyellow;
    width: 100%;
    height: 300px;
    margin-top: 100px;
}

.draggable {
    width: 39.35%;
    float: left;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    transition: ease 2s;
}

.rowVideo {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.col_1 {
    display: flex;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    align-content: center;
}

.col_2 {
    flex: 2;
    padding-left: 15px;
    padding-right: 15px;
}

.col_3 {
    flex: 3;
    padding-left: 15px;
    padding-right: 15px;
}

.col_4 {
    flex: 4;
    padding-left: 15px;
    padding-right: 15px;
}

.col_5 {
    flex: 5;
    padding-left: 15px;
    padding-right: 15px;
}

.col_6 {
    flex: 6;
    padding-left: 15px;
    padding-right: 15px;
}

.h_100 {
    height: 100%;
}

.dropzone {
    background-color: #D9E8FF;
    width: 180px;
    height: 120px;
    border: dashed 4px transparent;
    border-radius: 15px;
    margin: 5rem 0 0 4rem;
    padding: 10px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-drop {
    display: flex;
    justify-content: space-between;
    min-width: 180px;
    padding: 1em 0.5em;
    margin: 0 0 1rem 4rem;
    width: 180px;
    height: 120px;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    border-radius: 15px;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
    cursor: pointer;
}

.questionBox {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.questionBoxContent {
    background-color: #0055A3;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
    position: relative;
    top: 20%;
}

.questionButton {
    right: 6%;
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    background: none;
    border: none;
    top: 20px;
}

.questionButton:hover {
    color: #adb6bb;
}

.close {
    border: none;
    background: none;
    left: 100%;
    position: sticky;
    cursor: pointer;
    color: #fff;
    font-size: inherit;
    bottom: 100%;
}

.close:hover {
    color: #14213d;
}

.delete {
    fill: #EF5858;
    position: absolute;
    top: -14px;
    left: 164px;
    cursor: pointer;
    transition: ease 0.3s;
}

.delete:hover{
    fill: #c44848;
    transition: ease 0.3s;
}

.delete-cross {
    width: 25px;
    height: 25px;
    margin: auto;
}

.checkButton {
    right: 6%;
    position: absolute;
}
